<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      EQUALIZE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary">
    <h2 align="center">Manutenção</h2>
  </ion-text>

  <ion-progress-bar value="0.5"></ion-progress-bar>

  <ion-text align="justify">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean risus lacus, vestibulum eu augue ut, sodales sagittis sapien. Ut urna ex, bibendum at egestas vel, gravida rhoncus nisi. Nullam posuere quam in euismod venenatis. Maecenas at tristique felis. Pellentesque sed velit eget enim placerat imperdiet. Vivamus ullamcorper dolor vestibulum est elementum congue. Quisque suscipit mi nisl, sed malesuada nulla bibendum ac. Pellentesque vehicula augue turpis, eu laoreet nulla porta volutpat.
    </p>
  </ion-text>

</ion-content>
