<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      EQUALIZE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h2 align="center">Sobre o projeto</h2>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe src="https://www.youtube.com/embed/CmoyqnhvWdI" align="center" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

    <ion-img src="../../assets/img/ods-logo.jpg"></ion-img>


</ion-content>
